<div class="container text-center">
  <h3>Meist</h3>
  <p>
  Kinnisvaraportaal Pind. Meie firma tegeleb kinnisvara pakkumisega ning klientidele mugavat võimalust kinnisvarale leida parim kasutaja.</p>
</div>