/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'font-awesome-sprockets';
@import 'font-awesome';

// Typography styles
h1, h2, h3, .navbar-brand {
    font-family: 'Roboto Slab', sans-serif;
}

// Background gradient
.home-callout, .navbar {
  // Gradient provided by sum bby
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Nav styles
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: white;
    &:hover {
       color: whitesmoke;
      opacity: 0.6;
    }
}

.navbar {
  border: none;
}

.navbar-brand {
  font-weight: 800;
}

.home-callout {
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
    color: white;
}

.navbar-default .navbar-toggle .icon-bar{
  background: white;
}

.navbar-default .navbar-toggle {
  border: solid white 2px;
  &:hover, &:focus {
    background-color: #2980b9;
  }
}

.alert-notice{
  display:none;
}
